.forecast-wrapper {
    color: white;
    @media screen and (min-width: 768px){
        position: absolute;
    }
    bottom: 0;
    width: -webkit-fill-available;

    .forecast-item {
        padding: 30px;
        border-right: 1px solid #666;
        background: rgba(0, 0, 0, 0.8196078431);
        width:100%;
        .icon{
            width:100px;
        }
    }
}