<div class="weather-wrapper text-center mx-auto p-3">

    <form class="mat-input-city">
        <input type="text"
               placeholder="City"
               [formControl]="textInput"
               [(ngModel)]="textInput"
               [matAutocomplete]="auto"
               class="example-input">
        <mat-autocomplete #auto="matAutocomplete">
          @for (street of streets; track street) {
            <mat-option [value]="street">{{street}}</mat-option>
          }
        </mat-autocomplete>
      </form>
    
    <div class="d-flex flex-row justify-content-between">
        <div class="d-flex">
            <img alt="city-weather" src="" class="img">
            <div class="d-flex flex-column ms-1">
                <span class="city">Tel-Aviv</span>
                <span class="degrees">38</span>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <button mat-fab disabled aria-label="favorite" class="s-1 me-1">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-flat-button color="primary">Add</button>
        </div>
    </div>

    @for(item of streets; track item){
        <div>
            <span class="city">Tel-Aviv</span>
            <span class="degrees">38</span>
        </div>
    }
   @empty {
    <div>City not found</div>
   }
</div>