<div class="weather-wrapper text-center mx-auto">
    <div class="d-flex flex-column justify-content-between dash">

        <form class="example-form">
            <input type="text" placeholder="city" [matAutocomplete]="auto" class="search"
                (keyup)="onKeyUp($event)" [(ngModel)]="inputCity" name="inputCity"/>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getCurrentConditions()">
                @for (city of locations; track city) {
                <mat-option [value]="city">{{city}}</mat-option>
                }
            </mat-autocomplete>
        </form>

        @if(state.city() && state.temp() && state.weatherText() && state.img()){
        <div class="d-flex">

            <img alt="city-weather" src={{state.img()}} class="img">
            <div class="d-flex flex-column ms-1">

                <div>
                    <span class="city">{{state.city()}}</span>
                    <button mat-icon-button color="warn" aria-label="favorite" (click)="favoriteClick()">
                        <mat-icon>favorite</mat-icon>
                    </button>
                </div>

                <span class="degrees">{{state.temp()}}°</span>
                <span class="WeatherText">{{state.weatherText()}}</span>
            </div>
        </div>
        }@else {
        <div>City not found</div>
        }
    </div>

    <div class="d-flex flex-row justify-content-between forecast-wrapper">
        @for(item of fiveDaysForecast; track item){
        <div class="m-1 forecast-item">
            <div class="Temp">{{item.minTemp}}° - {{item.maxTemp}}°</div>
            <img class="icon" src={{item.WeatherIcon}}>
            <div class="date">{{item.Date | date}}</div>
        </div>
        }
        @empty {
        <div>forcast empty</div>
        }
    </div>

</div>