.weather-wrapper {
    .search {
        font-family: inherit;
        padding: 1rem 2rem;
        font-size: 1.2rem;
        background-color: rgba(0, 0, 0, .3);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
        color: #fff;
        border: none;
        outline: none;
        border-radius: 100rem;
        transition: all .3s;
    }

    .dash {
        align-items: center;
        padding-top: 50px;
    }

    h4 {
        margin: 0;
        font-size: 24px;
    }

    .mat-input-city {
        width: 500px;
    }

    img {
        width: 60px;
        height: 60px;
    }

    .s-1 {
        width: 35px;
        height: 35px;
    }

    .forecast-wrapper {
        height: 200px;
        background: rgba(0, 0, 0, 0.8196078431);
        color: white;
        position: absolute;
        bottom: 0;
        width: -webkit-fill-available;

        .forecast-item {
            padding: 30px;
            border-right: 1px solid #666;
            width: 15%;
        }
    }

    .city {
        font-size: 30px;
        padding: 5px;
    }

    .favorite {
        color: #ccc;
    }

    .warn {
        color: #f44336;
    }
}