.weather-wrapper{
    width:1200px;
    .mat-input-city{
        width:300px;
    }
    img{
        width:30px;
        height:30px;
        border:1px solid #ccc;
    }
    .s-1{
        width: 35px;
        height:35px;
    }
}