.weather-wrapper {
    .search {
        font-family: inherit;
        padding: 1rem 2rem;
        font-size: 1.2rem;
        background-color: rgba(0, 0, 0, .3);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
        color: #fff;
        border: none;
        outline: none;
        border-radius: 100rem;
        transition: all .3s;
    }

    .dash {
        align-items: center;
        padding: 50px;
    }

    h4 {
        margin: 0;
        font-size: 24px;
    }
    .mat-input-city {
        width: 500px;
    }
}